@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: #f7c6d5;
    --color-primary-200: #f4acc1;
    --color-primary-300: #f191ae;
    --color-primary-400: #ed779a;
    --color-secondary-100: #b4afd0;
    --color-secondary-200: #918bba;
    --color-secondary-300: #6f66a5;
    --color-secondary-400: #4c418f;
    --color-neutral-100: #ffffff;
    --color-neutral-200: #f9f9f9;
    --color-neutral-300: #e9e9e9;
    --color-neutral-400: #dadada;
    --color-neutral-500: #001122;
    --color-neutral-600: #d0d6e0;
    --color-neutral-700: rgba(102, 101, 114, 0.60);
    --color-primary-light: #f7c6d5;
    --color-secondary: #4c418f;
    --color-white: #ffffff;
    --color-gray: #f9f9f9;
    --color-dark-400: #1c1925;
    --color-card-bg: rgba(208, 214, 224, 0.10);
  }

  @font-face {
    font-family: "SF UI Text";
    src: url("/fonts/SF-UI-Text-Regular.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "SF UI Text";
    src: url("/fonts/SF-UI-Text-Bold.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: "SF UI Text";
    src: url("/fonts/SF-UI-Text-RegularItalic.woff") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    font-family: "SF UI Text";
    src: url("/fonts/SF-UI-Text-Light.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
